<div *ngIf="!success; else paymentSuccess">
  <div class="row" *ngIf="cartItems.length > 0; else noCartItems">
    <div class="col-11 mx-auto mb-3" *ngFor="let cartItem of cartItems; let i = index">
      <div class="card">
        <div class="card-header bg-warning">
          <button
            type="button"
            class="btn btn-sm btn-danger text-white float-right"
            (click)="deleteCartItem(cartItem.product.id)"
          >
            <i class="fa fa-trash"></i>
          </button>
          <h5>{{ cartItem.product.name }}</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-2 col-sm-3 col-10 mx-auto">
              <img [src]="cartItem.product.image" [alt]="cartItem.product.name" width="100% " />
            </div>
            <div class="col-md-6 col-sm-5 col-10 mx-auto">{{ cartItem.product.description }}</div>
            <div class="col-md-4 col-sm-4 col-10 mx-auto">
              <strong>Price: </strong> {{ cartItem.product.price }}.00/-
              <br />
              <strong>Quantity: </strong>
              {{ cartItem.quantity }}
              <br />
              -----------------------
              <br />
              <strong>Total Price: </strong>
              {{ cartItem.quantity * cartItem.product.price }}.00/-
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="col-11 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="text-warning">Checkout</h4>
          <h5>
            <strong>Grand Total: </strong>
            {{ getGrandTotal() }}.00/-
          </h5>
          <button type="button" class="btn btn-warning text-white" (click)="onCheckout()">
            Check Out
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noCartItems>
    <div class="text-center">
      <h4 class="pt-5 pb-5 text-warning">
        No Item Available in Cart,
      </h4>
      <a routerLink="/dashboard/products">Go to Products</a>
    </div>
  </ng-template>
</div>
<ng-template #paymentSuccess>
  <div class="text-center">
    <h4 class="pt-5 pb-5 text-success">
      Your Order has been placed successfully!!
    </h4>
    <a routerLink="/dashboard/products">Go to Products</a>
  </div>
</ng-template>
